@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="d-flex justify-content-center jumbotron">Asset Information</h1>
<br />
<h2 class="d-flex justify-content-center">My Assets</h2>
<div class="d-flex justify-content-center">
    <table class="table">
        <tr>
            <th>Brand Name</th>
            <th>Item Description</th>
            <th>Item Type</th>
            <th>Serial Number</th>
        </tr>
        <tr>
            <td>Dewalt</td>
            <td>20V Cordless Drill</td>
            <td>Power Tool</td>
            <td>DW123456</td>
        </tr>
    </table>
</div>
<br />
<h2 class="d-flex justify-content-center">Borrowed Assets</h2>
<div class="d-flex justify-content-center">
   <table class="table">
       <tr>
           <th>Brand Name</th>
           <th>Item Description</th>
           <th>Item Type</th>
           <th>Serial Number</th>
           <th>Checkout Date</th>
       </tr>
       <tr>
           <td>KitchenAid</td>
           <td>Stand Mixer</td>
           <td>Kitchen Appliance</td>
           <td>KA123456</td>
           <td>31 Dec 2020</td>
       </tr>
   </table>
</div>