@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>My Profile</h1>
<div>
    <p>Name: [Add model info]</p>
    <p>Email: [Add model info]</p>
    <p>Phone: [Add model info]</p>
    <p>Address: [Add model info]</p>
</div>