@model List<SharingIsCaring.Models.AssetType>

<h1 class="d-flex justify-content-center jumbotron">Asset Types</h1>

<p><a asp-controller="AssetType" asp-action="Add">Add an Asset Type</a></p>

@if (Model.Count == 0)
{
    <p>No asset types have been added!</p>
}
else
{
    <div>
        <ul>
            @foreach (AssetType assetType in Model)
            {
                <li>@assetType.TypeDescription</li>
            }
        </ul>
    </div>
}