<h1 class="d-flex justify-content-center jumbotron">Transfers</h1>
<br />
<h2>Pending Transfers</h2>
<div class="d-flex justify-content-center">
    <table class="table">
        <thead>
            <tr>
                <th>Asset</th>
                <th>Requested Checkout Date</th>
                <th>Expected Return Date</th>
                <th> </th>
            </tr>
        </thead>
        <tr>
            <td>Example Asset</td>
            <td>Example Checkout Date</td>
            <td>Example Return Date</td>
            <td><a asp-controller="TransferRequest" asp-action="ViewTransferRequest">View</a></td>

        </tr>
    </table>
</div>
<br />
<br />
<h2>Completed Transfers</h2>
<div class="d-flex justify-content-center">
    <table class="table">
        <thead>
            <tr>
                <th>Asset</th>
                <th>Date of Transfer</th>
                <th>Expected Return Date</th>
            </tr>
        </thead>
        <tr>
            <td>Example Asset</td>
            <td>Example Date of Transfer</td>
            <td>Example Expected Return Date</td>
        </tr>
    </table>
</div>
