@model SharingIsCaring.ViewModels.TransferAssetViewModel

<div class="container">
    <h3 class="d-flex justify-content-center">Asset to be returned: @Model.Asset.Description</h3>
    <h3 class="d-flex justify-content-center">Return Date: @Model.TransferRequest.ExpectedReturnDate</h3>
    <br />
    <br />
    <div class="d-flex justify-content-center btn-group">
        <form asp-controller="TransferRequest" asp-action="AcceptReturn" method="post">
            <button class="btn btn-success" name="RequestId" value="@Model.TransferRequest.Id">Recover Asset</button>
        </form>
    </div>
</div>