@model SharingIsCaring.Models.TransferRequest

<div>
    <h3>Asset to be Transferred: @Model.AssetId</h3><br />
    <h3>Expected Return Date: @Model.ExpectedReturnDate</h3><br />
    <br />
    <div class="btn-group">
        <form asp-controller="TransferRequest" asp-action="TransferAsset" method="post">
            <button class="btn-success rounded" name="AcceptId" value="">Transfer Asset</button>
        </form>
        &nbsp;
        <form asp-controller="TransferRequest" asp-action="RejectTransfer" method="post">
            <button class="btn-danger rounded" name="RejectId" value="">Cancel Transfer</button>
        </form>
    </div>
</div>
