@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager

<h1 class="d-flex justify-content-center jumbotron">Messaging Hub</h1>

<div class="d-flex justify-content-center">
    <table class="table">
        <thead>
            <tr>
                <td>Date/Time</td>
                <td>From</td>
                <td>Subject</td>
            </tr>
        </thead>
        <tr>
            <td>2/13/2021 08:49</td>
            <td>copelandeva@gmail.com</td>
            <td>Borrowing request</td>
        </tr>
    </table>
</div>