@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This application uses cookies to track your activty in the app. <br />
    You must register a valid email address to use this application. The email address you enter will only be used for communication related to the application. </p>
