

<div class="container chat-popup" id="myForm">
    <h2>Chat with a User</h2>
        @*<form class="form-container">
            <textarea placeholder="Type message.." name="msg" required></textarea>
            <button type="submit" class="btn">Send</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>*@
    <br />
    <div class="form-container">
        <label for="userInput"><b>Your name</b></label>
        <div><input type="text" name="userInput" id="userInput" /></div>
        <select id="group">
            <option value="All">Everyone</option>
            <option value="Myself">Myself</option>
        </select>
        <div><textarea id="messageInput" placeholder="Type message.." name="msg" required></textarea></div>
        <div><input type="button" id="sendButton" value="Send Message" /></div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

<script src="./lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="./js/Message.js"></script>