@model List<SharingIsCaring.Models.Brand>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="d-flex justify-content-center jumbotron">Brands</h1>

<p><a asp-controller="Brand" asp-action="Add">Add a Brand</a></p>

@if (Model.Count == 0)
{
    <p>No brands have been added!</p>
}
else
{
    <div>
        <ul>
            @foreach (Brand brand in Model)
            {
                <li>
                    <a asp-controller="Brand" asp-action="Index" asp-route-id="@brand.Id">@brand.Name</a>
                </li>
            }
        </ul>
    </div>
}