@using Microsoft.AspNetCore.Identity
@using SharingIsCaring.Areas.Identity.Data
@using SharingIsCaring.Areas.Identity.Pages

@inject UserManager<IdentityUser> UserManager

@model List<SharingIsCaring.Models.AssetRequest>

<h1 class="d-flex justify-content-center jumbotron">Asset Requests</h1>
<br />
<h2 class="d-flex justify-content-center">Received Requests</h2>
<div class="d-flex justify-content-center">
    <table class="table">
        <thead>
            <tr>
                <th>Asset</th>
                <th>Subject</th>
                <th>Requested Checkout Date</th>
                <th>Expected Return Date</th>
            </tr>
        </thead>

        <tr>
            <td>20V Cordless Drill</td>
            <td>Request to Borrow</td>
            <td>2/16/2021</td>
            <td>2/21/2021</td>
        </tr>
    </table>
</div>

<h2 class="d-flex justify-content-center">Submitted Requests</h2>
<div class="d-flex justify-content-center">
    <table class="table">
        <thead>
            <tr>
                <th>Asset</th>
                <th>Subject</th>
                <th>Requested Checkout Date</th>
                <th>Expected Return Date</th>
            </tr>
        </thead>
        @foreach (AssetRequest request in Model)
        {
            @if (request.BorrowerId == UserManager.GetUserId(User))
            {
                <tr>
                    <td>@request.AssetId</td>
                    <td>@request.Subject</td>
                    <td>@request.FromDate.ToString()</td>
                    <td>@request.ToDate.ToString()</td>
                </tr>
            }
        }

    </table>
</div>